name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        password: ${{ secrets.VPS_PASSWORD }}
        script: |
          export PATH=$PATH:/home/ubuntu/.nvm/versions/node/v24.11.1/bin
          cd /var/www/SMS
          
          # Pull latest changes
          echo "Pulling latest changes..."
          git pull origin main
          
          # Install Backend Dependencies & Restart
          echo "Installing Backend Dependencies..."
          cd backend
          npm install
          npm run build
          echo "Restarting Backend..."
          pm2 restart "sms-backend" || pm2 start dist/server.js --name "sms-backend"
          
          # Install Frontend Dependencies & Build
          echo "Building Frontend..."
          cd ../frontend
          npm install
          npm run build
          
          echo "Deployment Complete!"
